@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Andika+New+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.{
	box-sizing: border-box;
}

/*.app{
	display: flex;
	flex-direction: column;
	align-items: center;
}
*/
body {
  font-family: 'Roboto';
  overflow-x: hidden;
  @apply text-secondary;
}

p{
	@apply mb-4 font-sans;
}

.animate {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition:    all 1s ease-in-out;
  -o-transition:      all 1s ease-in-out;
  -ms-transition:     all 1s ease-in-out;
  transition:         all 1s ease-in-out;
}

.textFontPrimary{
	font-family: 'Alfa Slab One', cursive;
}

.textFontSecondary{
	font-family: 'Andika New Basic', sans-serif;
}

.shadowTitleSecondary{
	text-shadow: 3px 3px #F4EDCA;
}