@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Andika+New+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.{
	box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  overflow-x: hidden;
  @apply text-secondary;
}

p{
	@apply mb-4 font-sans;
}

.textFontPrimary{
	font-family: 'Alfa Slab One', cursive;
}

.textFontSecondary{
	font-family: 'Andika New Basic', sans-serif;
}

.shadowTitleSecondary{
	text-shadow: 3px 3px #F4EDCA;
}